.tribute-info{
			font-size: 16px;
			text-align: justify;
			padding: 0 25px;		
		}
#main{
			width: 80%; 
			margin: 0 auto; 
			padding: 50px;
		}
#title, blockquote, h3, h4, #sub-title{
			text-align: center;
		}
blockquote{
			font-size: 14px; 
			padding: 0 20px;
		}
#image{
			width: 95%; 
			height: auto; 
			display: block; 
			margin: 0 auto; 
			max-width: 95%;
		}